body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    background: rgb(180,46,154);
background: radial-gradient(circle, rgba(121, 31, 103, 0.989) 0%, rgba(30,24,67,1) 75%);
}

h1{
    font-size: 50px;
    display:flex;
    border-radius: 5px;
    border:none;
    color:white;
    
}
h2{
    font-size: 30px;
    transition: font-size 0.5s ease-in-out;

}

a{
    color: rgb(130, 186, 249);
    
}

.ligne{
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    width: 5px;
    height: 600px;
}
.fiche{
    color: black;
    font-size: 20px;
    font-family: "Gaegu";
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 60px;
    width: 400px;
    box-shadow: rgba(50,50,93,0.25) 0px 6px 12px -2px, rgba(0,0,0,0.3) 0px 3px 7px -3px;
}

h2:hover{
font-size: 40px;
}



.gallery{
    display: flex;
    left:calc(50%-330px);
}


.card {
    position: relative;
    width: 110px;
    height: 160px;
    padding: 8px;
    background-color: white;
    border-radius: 8px;
    transition: 0.5s ease-in-out; /* Ajout d'une transition pour une animation douce */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 25px;
    overflow: hidden; /* Pour masquer le débordement du titre si nécessaire */
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(70%) blur(1px); /* Appliqué par défaut */
    transition: filter 0.5s ease-in-out; /* Ajout d'une transition pour le filtre */
}


.card-title {
    font-family:"Gaegu";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 18px;
    color: white;
    text-align: center; /* Centrage horizontal du texte */
    opacity: 1; /* Par défaut, le titre est visible */
    transition: opacity 0.3s ease-in-out; /* Nouvelle transition pour l'opacité */
}

.card:hover .card-title {
    opacity: 0; /* Réduit l'opacité pour masquer le titre */
}

.card:nth-child(1) .card-image {
    background-image: url("robot.jpeg");
}

.card:nth-child(2) .card-image {
    background-image: url("piano.jpeg");
}
.card:nth-child(3) .card-image {
    background-image: url("electocardiogramme.jpeg");
}
.card:hover {
    width: 150px;
    height: 160px;
    transform: translateY(-16px);
    cursor:pointer;

}

.card:hover .card-image {
    filter: brightness(100%) blur(0px);
}
img{
    position: center;
    width: auto;
    height: 200px;
}