body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    background-color: rgb(0, 0, 29);
}

h1{
    font-size: 50px;
    display:flex;
    border-radius: 5px;
    border:none;
    color:white;
    
}
h2{
    font-size: 30px;
    transition: font-size 0.5s ease-in-out;

}

.ligne{
    background-color: magenta;
    margin-left: auto;
    margin-right: auto;
    width: 5px;
    height: 600px;
}
.fiche{
    color: black;
    font-size: 20px;
    font-family: "Gaegu";
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 60px;
    width: 400px;
    box-shadow: rgba(50,50,93,0.25) 0px 6px 12px -2px, rgba(0,0,0,0.3) 0px 3px 7px -3px;
}

h2:hover{
font-size: 40px;
}



.gallery{
    display: flex;
    left:calc(50%-330px);
}

.card{
    position: relative;
    left:0px;
    width: 110px;
    height: 160px;
    padding: 8px;
    background-color: white;
    border-radius: 8px;
    transition: 1s ease-in-out;
    box-shadow: rgba(0,0,0,0.25) 0px 5px 25px;
}
.card:nth-child(1){
    background-color: magenta;
}
.card:nth-child(2){
    background-color: blueviolet;
}
.card:nth-child(3){
    background-color: blue;
}
.card:nth-child(4){
    background-color: rgb(40, 230, 40);
}
.card:nth-child(5){
    background-color: yellow;
}

card:not(:first-child){
    margin-left: -55px;
}
.card:hover{
    width: 150px;
    height: 160px;
    transform: translateY(-16px);
    font-weight: bold;
    cursor: pointer;
}

